@font-face {
        font-family:  "SEA_GARDENS";
        src:url("Fonts/SEA_GARDENS.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family:  "ITC Avant Garde Gothic LT Bold";
        src:url("fonts/ITC Avant Garde Gothic LT Bold.otf") format("otf");
        font-weight: normal;
        font-style: normal;
}

 * {
box-sizing: border-box;
font-family: 'Roboto Slab', serif;
color: #777
}
html, body {
      margin:0;
      padding: 0;
      min-height: 100%;
}

.nav ul {
      margin:0;
}

.nav li {
      display: inline;
}

.nav a {
      display: inline-block;
      padding: .5em;
      color: white;
      text-decoration: none;
}

.main-nav{
      text-align: center;
      font-size:  1.1em;
      font-weight: lighter;
      border-bottom:  1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
        padding: 0  5%;
}

@media (hover: hover) {
        .nav a:hover {
        background: rgba(255, 255, 255, .3);
  }
}

.main-header {
      background-color: rgba(0, 0, 0, 0.6);
      background-image:  url("Images/Header Background.jpg");
      background-blend-mode: multiply;
      background-size: cover;
      padding-bottom: 30px;
}
 .band-name {
        text-align: center;;
        margin: 0;
        font-size: 4em;
        font-family: "ITC Avant Garde Gothic LT Bold";
        font-weight: normal;
        color: white ;
 }

.band-name-large {
        font-size:  7em;
}
.content-section {
        margin: 1em;
}

.container {
        max-width:  900px;
        margin: 0 auto;
        padding: 0 1.5em;

}

.section-header  {
        font-family: 'Cinzel', serif;
        font-weight:lighter;
        color: #333;
        text-align: center;
        font-size:  2.5em;
}

.about-band-image {
        float:left;
        height:  400px;
        width: 427px;
        margin: 15px;
        border-radius:  50%;
}
.main-footer{
      background-color: #56CCF2;
      padding: .25em 0;

}

.main-footer-container {
        display: flex;
        align-items: center;

}
.main-footer-container ul {
        flex-grow:  1;
        text-align: end;
}

.footer-nav li{
         padding:  0 .5em;
}

.footer-nav img  {
        width :30px;
        height:  30px;
}
.btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em .67em;
        cursor: pointer;
}
.btn-header {
        margin: .5em 15% 2em 15%;
        color: white;
        border: 2px solid #2D9CDB;
        background-color: rgba(255, 255, 255, .1);
        border-radius: 0;
        font-size: 1.5em;
        font-weight: lighter;
        padding-left: 2em;
        padding-right: 2em;
}

.btn-header:hover {
        background-color:  rgba(255, 255, 255, 0.2);
}

.btn-play {
      display: block;
      margin: 0 auto;
      color:  #2D9CDB;
      font-size:  2em;
      border-radius: 50%;
      padding: 0;
      width: 90px;
      height: 90px;

}

.tour-row {
      border-bottom:  1px solid black;
      padding-bottom: 1em;
      margin-bottom: 1em;
}

.tour-row:last-child {
      border-bottom: none;
}

.tour-item {
      display:  inline-block;
      padding-right: .5em;

}

.tour-date {
      color: #555;
      font-weight: bold;
      width: 11%;
}

.tour-city {
      width:  24%;
}

.tour-arena {
      width: 35%
}
.tour-btn {
      max-width: 22%
}

.btn-primary {
      color: white;
      background-color:  #56CCF2;
      border: none;
      border-radius: .3em;
      font-weight: bold;
}

.btn-primary:hover {
      background-color: #2D9CDB;
}

/*--.shop-item {

       display: flex;
       flex-wrap: wrap;
        justify-content: space-around;
}-*/

.shop-item-title {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
        margin: 15px;


}

.shop-item-image {
        height: 250px;
        width: 295px;
}

.shop-item-details {
        display: flex;
        align-items: center;
        padding: 5px;
}

.shop-item-price {
        flex-grow: 1;
        color: #333;
}

.shop-items {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.shop-item-button {

}

.cart-header {
      font-weight: bold;
      font-size:  1.2em;
      color: #333;
}

.cart-column {
      display: flex;
      align-items: center;
      border-bottom: 1px solid  black;
      margin-right:  1.5em;
      margin-top: 10px;
      padding-bottom:  10px;

}

.cart-row {
      display: flex;
}

.cart-item {
      width:  45%
}

.cart-price {
      width:  20%
      font-size:  1.2em;
      color:  #333;
}

.cart-quantity {
        width:  35%
}
.cart-item-title {
        color: : #333
        margin-left: .5em;
        font-size: 1.2em;
}

.cart-item-image {
        width:  75px;
        height: auto;
        border-radius:  10px;
        padding-right: 5px;
}

.btn-danger {
        color: white;
        background-color:  #EB5757;
        border-radius:  .3em
        border: none;
        font-weight: bold;
}

.btn-danger:hover {
        background-color: #CC4C4C;
 }

.cart-quantity-input {
        height: 30px;
        width: 50px;
        border-radius: .3em;
        background-color: #eee;
        color: #333;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
        margin-left: 25px;
}

.cart-total {
        text-align: end;
        margin-top: 5px;
        margin-right: 10px;
}

.cart-total-title {
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        margin-right: 10px;
        padding-right: 9px;

}

  .cart-total-price {
        color:  #333;
        font-size: 1.2em;
        padding-right: 85px
  }

.btn-purchace {
        display: block;
        margin: 40px auto 180px auto;
        font-size:  1.75em;
        height: 100px;


}
